Repository hmcts/rpx-xui-manage-organisations, pull requests merged in 2021-01, with the labels that each got.

#593 XUI MO enable HPA
  charts/xui-mo-webapp/Chart.yaml
  charts/xui-mo-webapp/requirements.yaml
  charts/xui-mo-webapp/values.yaml
  package.json
  src/app/containers/app/app.component.spec.ts
  yarn.lock
Labels: ns:xui, prd:xui, qa/automation, rel:xui-mo-webapp-pr-593

#609 Update postal and email address in Privacy policy
  src/app/components/privacy-policy/privacy-policy.component.html
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-609

#610 Tests/mutation nightly build fixes
  Jenkinsfile_CNP
  Jenkinsfile_nightly
  stryker.node.conf.js
  test/e2e/config/crossbrowser.conf.js
  test/integration/tests/utils/getCookie.ts
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-610

#611 ExUI mo 3.0.10
  api/accounts/accountUtil.ts
  api/accounts/index.ts
  api/editUserPermissions/index.ts
  api/getUserTermsAndConditions/index.ts
  api/healthCheck/index.ts
  api/inviteUser/index.ts
  api/jurisdictions/index.ts
  api/lib/error.handler.spec.ts
  api/lib/error.handler.ts
  api/lib/s2sTokenGeneration.ts
  api/local.ts
  api/monitoring-tools/index.ts
  api/payments/index.ts
  api/postUserTermsAndConditions/index.ts
  api/register-org/index.ts
  api/server.ts
  api/suspendUser/index.ts
  api/user/index.ts
  api/userList/index.ts
  charts/xui-mo-webapp/Chart.yaml
  charts/xui-mo-webapp/requirements.yaml
  charts/xui-mo-webapp/values.aat.template.yaml
  charts/xui-mo-webapp/values.preview.template.yaml
  charts/xui-mo-webapp/values.yaml
  package.json
  src/app/app-initializer.ts
  src/app/components/signed-out/signed-out.component.html
  src/register/components/check-your-answers/check-your-answers.component.html
  src/register/containers/register/register.component.html
  src/register/containers/register/register.component.ts
  src/shared/components/phase-banner/phase-banner.component.html
  src/users/containers/edit-user-permissions/edit-user-permission.component.ts
  src/users/store/effects/users.effects.spec.ts
  src/users/store/effects/users.effects.ts
  test/accessibility/config/config.js
  test/accessibility/helpers/pa11yUtil.js
  test/accessibility/tests/unauthenticatedUrls.js
  test/e2e/features/step_definitions/loginLogout.steps.js
  test/nodeMock/reqResMapping.js
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-611
