Repository hmcts/rpx-xui-manage-organisations, pull requests merged in 2021-04, with the labels that each got.

#645 TA-410: Fix tag master on pact publish
  Jenkinsfile_CNP
  charts/xui-mo-webapp/Chart.yaml
  config/custom-environment-variables.json
  package.json
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-645

#658 Security issue with ssri
  package.json
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-658

#663 Security check issue: jose
  package.json
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-663

#661 Add docker ignore config
  .dockerignore
  Jenkinsfile_CNP
  charts/xui-mo-webapp/values.preview.template.yaml
  package.json
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-661
