Repository hmcts/rpx-xui-manage-organisations, pull requests merged in 2021-07, with the labels that each got.

#702 MO CVE hotfix
  README.md
  charts/xui-mo-webapp/values.preview.template.yaml
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-702

#704 Release-EUI-2439-3787-3843
  package.json
  src/app/components/cookie-policy/cookie-policy-component.spec.ts
  src/app/components/cookie-policy/cookie-policy.component.html
  src/app/components/cookie-policy/cookie-policy.component.spec.ts
  src/app/components/cookie-policy/cookie-policy.component.ts
  src/app/containers/app/app.component.html
  src/app/containers/app/app.component.spec.ts
  src/app/containers/app/app.component.ts
  src/shared/services/logger.service.ts
  src/shared/services/monitoring.service.ts
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-704

#708 upgrade nodejs chart to 2.3.7
  charts/xui-mo-webapp/Chart.yaml
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-708
