Repository hmcts/rpx-xui-manage-organisations, pull requests merged in 2025-08, with the labels that each got.

#1360 EXUI-3056 and EXUI-3058 adding serviceoverride flag
  api/auth/index.ts
  api/configuration/references.ts
  api/lib/config/application.config.ts
  charts/xui-mo-webapp/Chart.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  src/environments/environment.ts
  test/integration/tests/utils/getToken.ts
  test_codecept/codeceptCommon/codeceptA11y.conf.ts
  test_codecept/integration/tests/utils/getToken.ts
  test_codecept/localServer.ts
  yarn.lock
Labels: ns:xui, prd:xui, enable_keep_helm, rel:xui-mo-webapp-pr-1360

#1392 Revert "EXUI-3056 and EXUI-3058 adding serviceoverride flag"
  api/auth/index.ts
  api/configuration/references.ts
  api/lib/config/application.config.ts
  charts/xui-mo-webapp/Chart.yaml
  config/custom-environment-variables.json
  config/default.json
  package.json
  src/environments/environment.ts
  test/integration/tests/utils/getToken.ts
  test_codecept/codeceptCommon/codeceptA11y.conf.ts
  test_codecept/integration/tests/utils/getToken.ts
  test_codecept/localServer.ts
  yarn.lock
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-1392

#1397 exui-3422-cve
  yarn-audit-known-issues
Labels: ns:xui, prd:xui, rel:xui-mo-webapp-pr-1397
